<p>A tranquil retreat perched on hills, Heritance Kandalama offers panoramic views of the Sigiriya Rocks. Boasting a spectacular architecture, this unique design hotel provides 3 impressive pools and exotic activities like birdwatching.

    Kandalama Heritance is a 20-minute drive from UNESCO World Heritage Sites, the 2,000-year-old cave temple at
    Dambulla and the Sigiriya rock fortress. The 5-star hotel is a 3.5-hour drive from the airport.

    The spacious rooms are fitted with rattan furniture and timber panels. Each comes with a private bathroom featuring
    oversize glass walls that allow much natural light in.

    The hotel features tennis courts, a well-equipped gym and the well-known Coco Spa. To enjoy Sri Lanka’s breathtaking
    natural landscapes, the hotel offers various excursions like mountain cycling excursions and lake safaris.

    Start the day with breakfast on the lake or enjoy a memorable dining experience in the nearby cave. The Kanchana
    Restaurant offers daily themed nights with international cuisine. Views of the Sigiriya citadel and the Kandalama
    Lake accompany meals.
</p>